<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wsf_lp.oritsubushi" android:versionCode="9"
	android:versionName="2.0">
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<permission android:name="com.adamrocker.mapsv2.permission.MAPS_RECEIVE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.adamrocker.mapsv2.permission.MAPS_RECEIVE" />
	<uses-sdk android:minSdkVersion="8">
		<android:targetSdkVersion>18</android:targetSdkVersion>
	</uses-sdk>


	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true" android:theme="@style/AppBaseTheme">
		<!-- for Mac mini debug -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyAHX8MLlwQRP1Tv_Dk6CFE4GUnno2VNOYQ" />
		<activity android:label="@string/app_name" android:name=".MainActivity"
			android:taskAffinity="com.wsf_lp.oritsubushi.map" android:launchMode="singleTask"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- activity android:label="@string/app_name" android:name=".OritsubushiRoidActivity"
			android:taskAffinity="com.wsf_lp.oritsubushi.map" android:launchMode="singleTask"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
			<intent-filter> <action android:name="android.intent.action.MAIN" /> <category
			android:name="android.intent.category.LAUNCHER" /> </intent-filter> </activity -->
		<activity android:label="@string/preferences_title"
			android:name="OritsubushiPreferenceActivity">
		</activity>
		<activity android:label="@string/verbose_title" android:name=".VerboseActivity"
			android:launchMode="standard"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
		</activity>
		<activity android:label="@string/operator_type_title"
			android:launchMode="singleTask" android:name=".OperatorTypeGroupActivity"
			android:taskAffinity="com.wsf_lp.oritsubushi.operator_type"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
		</activity>
		<activity android:label="@string/pref_title"
			android:launchMode="singleTask" android:name=".PrefGroupActivity"
			android:taskAffinity="com.wsf_lp.oritsubushi.pref"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
		</activity>
		<activity android:label="@string/yomi_title"
			android:launchMode="singleTask" android:name=".YomiGroupActivity"
			android:taskAffinity="com.wsf_lp.oritsubushi.yomi"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
		</activity>
		<activity android:label="@string/comp_date_title"
			android:launchMode="singleTask" android:name=".CompletionDateGroupActivity"
			android:taskAffinity="com.wsf_lp.oritsubushi.comp_date"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
		</activity>
		<activity android:label="@string/info_title"
			android:launchMode="singleTask" android:name=".InformationActivity"
			android:taskAffinity="com.wsf_lp.oritsubushi.info"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
		</activity>
		<activity android:label="@string/sync_title"
			android:launchMode="singleTask" android:name=".SyncActivity"
			android:taskAffinity="com.wsf_lp.oritsubushi.sync"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
		</activity>
		<uses-library android:name="com.google.android.maps" />
		<service android:name="com.wsf_lp.mapapp.data.DatabaseService"
			android:exported="false" />
	</application>


</manifest>